fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart

langchain
langchain-community
langchain-core
langchain-groq

pinecone

# Google Generative / Gemini SDK
google-generativeai
langchain_google_genai>=0.0.1

PyPDF

python-dotenv

pydantic
requests
tqdm

loguru

# uv pip install -r requirements.txt