# Web Framework
fastapi
uvicorn[standard]
python-multipart 
python-dotenv # for file uploads

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
# Vectorstore
# chromadb
pinecone
pinecone-client
pinecone-text
# Embeddings
# sentence-transformers
# langchain-google-generative-ai
google-generativeai

# PDF Parsing
PyPDF  # backend for PyPDFLoader via langchain_community

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Logging (optional but recommended)
loguru

typing-extensions
numpy
#  uv pip install -r requirements.txt