fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart

langchain
langchain-community
langchain-core
langchain-groq

pinecone

# Google Generative / Gemini SDK
langchain-google-genai==1.0.8
google-generativeai==0.7.2

PyPDF

python-dotenv

pydantic
requests
tqdm

loguru

# uv pip install -r requirements.txt

